@font-face {
  font-family: "Handwritten";
  src: url("fonts/Angelface.otf");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Lato-Regular.woff");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url("fonts/Lato-Light.woff");
}


//VARS

/* BLACK THEME*/
$fontcolor: #ffffff;
$main: #111111;
$main2: lighten($main, 6%);
$main3: lighten($main, 3%);
$contrast: #a81951;

$cover: transparentize($main, 0.25);
$indexbg: transparentize($main, 0.6);

$border: lighten($main, 25%);
$border2: lighten($main, 13%);
$border3: lighten($main, 6%);
$border4: darken($border,12%);
$border5: lighten($main, 18%);
$border6: lighten($main, 9%);
$indexfontcolor: darken($fontcolor, 25%);


/*$fontcolor: #303030;
$indexfontcolor: rgb(128, 128, 128);
$main: #e3e0e0;
$main2: darken($main, 12%);
$contrast: #1993a8; //#a81951 #5819a8 #3ccc34

$cover: transparentize($main, 0.15);
$indexbg: transparentize($main, 0.6);

$border: darken($main, 30%);
$border2: darken($main, 10%);
$border3: darken($main, 2%);
$border4: lighten($border,15%);*/

$borderradius: 0px;

//MIXINS

//HTML

html {
  height:100%;
  width:100%;
  padding:0;
  margin:0;
  font-family: 'Lato', sans-serif;
  color: $fontcolor;
  font-weight: 100;
}

body {
  background: $main2;
  height: 100%;
}

p {
  margin: 0;
}


//ANIMATIONS & RESETS

.flyin {
  animation: flyin .5s 1 forwards;
}
.flyout {
  animation: flyout .3s 1 forwards;
}
@keyframes flyin {
  from {
    transform: translate(0,50px);
    visibility: hidden;
    opacity: 0;
  }
  to {
    transform: translate(0,0);
    visibility: visible;
    opacity: 1;
  }
}
@keyframes flyout {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.popin {
  animation: popin .4s 1 forwards;
  box-sizing: border-box;
}
.popout {
  animation: popout .4s 1 forwards;
  box-sizing: border-box;
}
@keyframes popin {
  from {
    transform: translate(-50%,-50%) scale(1.1);
    visibility: hidden;
    opacity: 0;
    //border: 10px solid transparent;
  }
  to {
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
    opacity: 1;
  }
}
@keyframes popout {
  from {
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
    opacity: 1;
  }
  to {
    transform: translate(-50%,-50%) scale(0.85);
    visibility: hidden;
    opacity: 0;
  }
}
.uiadd {
  animation: uiadd .4s 1 forwards;
  box-sizing: border-box;
}
.uidelete {
  animation: uidelete .4s 1 forwards;
  box-sizing: border-box;
}
@keyframes uiadd {
  from {
    visibility: hidden;
    opacity: 0;
    width: 0;
    margin: 1vw 0;
  }
  to {
    visibility: visible;
    opacity: 1;
    width: 11.2vw;
    margin: 1vw;
  }
}
@keyframes uidelete {
  from {
    //transform: scale(1);
    visibility: visible;
    opacity: 1;
    width: 11.2vw;
    margin: 1vw;
  }
  to {
    //transform: scale(0);
    visibility: hidden;
    opacity: 0;
    width: 0;
    margin: 1vw 0;
  }
}

@keyframes item_slidein {
  from {
    max-height: 0;
  }
  to {
    max-height: 500px;
  }
}
@keyframes item_slideout {
  from {
    visibility: visible;
    opacity: 1;
    max-height: 500px;
  }
  to {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
  }
}
@keyframes extoolbar_slidein {
  from {
    visibility: hidden;
    opacity: 0;
    left: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
    left: 30vw;
  }
}
@keyframes extoolbar_slideout {
  from {
    visibility: visible;
    opacity: 1;
    left: 30vw;
  }
  to {
    visibility: hidden;
    opacity: 0;
    left: 0;
  }
}

* {
  list-style: none;
  outline: none;
}


*:not(input) {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon_container {
  &.relative {
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
  }

  &.small {
    .material-icons {
      font-size: 130%;
    }

    padding: 0 10%;
  }
}

.material-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: $border;
  font-size: 18px;

  transition-duration: .3s;

  &.active {
    color: $contrast;
  }
}

.player_container {
  .material-icons {
    font-size: 40px;
  }
}

ul, li {
  margin: 0;
  padding: 0;
}

.placeholder_container {
  position: relative;
  width: 100%;
  height: 100%;

  .placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;

    > .icon_container {
      width: 90px;
      height: 90px;
      float: none;
      position: static;
      padding-bottom: 40px;
      opacity: .3;

      .material-icons {
        font-size: 90px;
        color: lighten($border, 8%);
      }
    }

    p {
      font-size: 1em;
      margin: 0;
      color: lighten($border, 20%);
      opacity: .3;
      line-height: 3;
    }

    span {
      background: $contrast;
      padding: 6px;
      color: $fontcolor;
      line-height: 2;
      margin-top: 5px;
      cursor: pointer;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    }
  }
}

.rightclick_popup {
  width: 200px;
  height: auto;
  background: $main;
  position: absolute;
  visibility: hidden;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid $border4;
  margin: 0;
  padding: 0;
  border-radius: $borderradius;

  li {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid $border3;
    line-height: 40px;
    font-size: .7em;
    box-sizing: border-box;
    padding: 0 4%;
    cursor: pointer;
    display: inline-block;

    transition-duration: .4s;

    .icon_container {
      height: 100%;
    }

    &:hover {
      border-bottom: 1px solid $contrast;
      background: $border4;
    }
  }
}

.icon_container {
  position: relative;
  height: 14px;
  width: 14px;
  float: left;
  padding-right: 18px;
}

.logo {
  svg {
    width: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .a {
      fill:$border;
    }
    .b,.c {
      fill:$border5;
    }
  }
}

.leftside {
  padding: 2%;
  img {
    margin: 0;
  }
}

.centered ul {
  padding: auto;
  list-style: georgian;
}
