@font-face {
  font-family: "Handwritten";
  src: url("fonts/Angelface.otf");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Lato-Regular.woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url("fonts/Lato-Light.woff");
}

/* BLACK THEME*/
/*$fontcolor: #303030;
$indexfontcolor: rgb(128, 128, 128);
$main: #e3e0e0;
$main2: darken($main, 12%);
$contrast: #1993a8; //#a81951 #5819a8 #3ccc34

$cover: transparentize($main, 0.15);
$indexbg: transparentize($main, 0.6);

$border: darken($main, 30%);
$border2: darken($main, 10%);
$border3: darken($main, 2%);
$border4: lighten($border,15%);*/
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-weight: 100;
}

body {
  background: #202020;
  height: 100%;
}

p {
  margin: 0;
}

.flyin {
  animation: flyin .5s 1 forwards;
}

.flyout {
  animation: flyout .3s 1 forwards;
}

@keyframes flyin {
  from {
    transform: translate(0, 50px);
    visibility: hidden;
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes flyout {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.popin {
  animation: popin .4s 1 forwards;
  box-sizing: border-box;
}

.popout {
  animation: popout .4s 1 forwards;
  box-sizing: border-box;
}

@keyframes popin {
  from {
    transform: translate(-50%, -50%) scale(1.1);
    visibility: hidden;
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes popout {
  from {
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%) scale(0.85);
    visibility: hidden;
    opacity: 0;
  }
}

.uiadd {
  animation: uiadd .4s 1 forwards;
  box-sizing: border-box;
}

.uidelete {
  animation: uidelete .4s 1 forwards;
  box-sizing: border-box;
}

@keyframes uiadd {
  from {
    visibility: hidden;
    opacity: 0;
    width: 0;
    margin: 1vw 0;
  }
  to {
    visibility: visible;
    opacity: 1;
    width: 11.2vw;
    margin: 1vw;
  }
}

@keyframes uidelete {
  from {
    visibility: visible;
    opacity: 1;
    width: 11.2vw;
    margin: 1vw;
  }
  to {
    visibility: hidden;
    opacity: 0;
    width: 0;
    margin: 1vw 0;
  }
}

@keyframes item_slidein {
  from {
    max-height: 0;
  }
  to {
    max-height: 500px;
  }
}

@keyframes item_slideout {
  from {
    visibility: visible;
    opacity: 1;
    max-height: 500px;
  }
  to {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
  }
}

@keyframes extoolbar_slidein {
  from {
    visibility: hidden;
    opacity: 0;
    left: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
    left: 30vw;
  }
}

@keyframes extoolbar_slideout {
  from {
    visibility: visible;
    opacity: 1;
    left: 30vw;
  }
  to {
    visibility: hidden;
    opacity: 0;
    left: 0;
  }
}

* {
  list-style: none;
  outline: none;
}

*:not(input) {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.centered, header .toolbar li.main_toolbar .icon_container span, header .extended_toolbar li.main_toolbar .icon_container span, header .toolbar li.main_toolbar .rc span, header .extended_toolbar li.main_toolbar .rc span, header .playerbar .controls .player_container li span.nextup, header .playerbar .controls .command_container li span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon_container.relative, .relative.rc {
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

.icon_container.small, .small.rc {
  padding: 0 10%;
}

.icon_container.small .material-icons, .small.rc .material-icons {
  font-size: 130%;
}

.material-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #515151;
  font-size: 18px;
  transition-duration: .3s;
}

.material-icons.active {
  color: #a81951;
}

.player_container .material-icons {
  font-size: 40px;
}

ul, li {
  margin: 0;
  padding: 0;
}

.placeholder_container {
  position: relative;
  width: 100%;
  height: 100%;
}

.placeholder_container .placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
}

.placeholder_container .placeholder > .icon_container, .placeholder_container .placeholder > .rc {
  width: 90px;
  height: 90px;
  float: none;
  position: static;
  padding-bottom: 40px;
  opacity: .3;
}

.placeholder_container .placeholder > .icon_container .material-icons, .placeholder_container .placeholder > .rc .material-icons {
  font-size: 90px;
  color: #656565;
}

.placeholder_container .placeholder p {
  font-size: 1em;
  margin: 0;
  color: #848484;
  opacity: .3;
  line-height: 3;
}

.placeholder_container .placeholder span {
  background: #a81951;
  padding: 6px;
  color: #ffffff;
  line-height: 2;
  margin-top: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.rightclick_popup {
  width: 200px;
  height: auto;
  background: #111111;
  position: absolute;
  visibility: hidden;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #323232;
  margin: 0;
  padding: 0;
  border-radius: 0px;
}

.rightclick_popup li {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #202020;
  line-height: 40px;
  font-size: .7em;
  box-sizing: border-box;
  padding: 0 4%;
  cursor: pointer;
  display: inline-block;
  transition-duration: .4s;
}

.rightclick_popup li .icon_container, .rightclick_popup li .rc {
  height: 100%;
}

.rightclick_popup li:hover {
  border-bottom: 1px solid #a81951;
  background: #323232;
}

.icon_container, .rc {
  position: relative;
  height: 14px;
  width: 14px;
  float: left;
  padding-right: 18px;
}

.logo svg {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo svg .a {
  fill: #515151;
}

.logo svg .b, .logo svg .c {
  fill: #3f3f3f;
}

.leftside {
  padding: 2%;
}

.leftside img {
  margin: 0;
}

.centered ul, header .toolbar li.main_toolbar .icon_container span ul, header .extended_toolbar li.main_toolbar .icon_container span ul, header .toolbar li.main_toolbar .rc span ul, header .extended_toolbar li.main_toolbar .rc span ul, header .playerbar .controls .player_container li span.nextup ul, header .playerbar .controls .command_container li span ul {
  padding: auto;
  list-style: georgian;
}

body:not(.loaded) header {
  width: 18%;
}

body:not(.loaded) header .toolbar, body:not(.loaded) header .extended_toolbar {
  opacity: 0;
}

body:not(.loaded) header .playerbar {
  opacity: 0;
}

body:not(.loaded) header .logo {
  height: 100%;
}

body:not(.loaded) header .logo svg {
  width: 50%;
}

body:not(.loaded) .extended_toolbar {
  width: 10%;
}

body:not(.loaded) main #desk_view.view {
  opacity: 0;
}

.playing, .title, .duration, .rc {
  height: 100%;
  float: left;
  line-height: 50px;
  text-align: center;
  color: #515151;
  transition-duration: .3s;
  font-size: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.playing {
  width: 12%;
}

.playing.active {
  color: #a81951;
  font-size: 1.1em;
}

.title {
  text-align: left;
  color: #ffffff;
  width: 64%;
}

.coverview:hover ~ .albumview li > .playing, .coverview:hover ~ .albumview li > .duration {
  color: #9d9d9d;
}

li:hover > .rc {
  opacity: 1;
}

li:hover > .playing, li:hover > .duration {
  color: #9d9d9d;
}

.rc {
  cursor: pointer;
  opacity: 0;
  width: 8%;
  padding-right: 0;
}

.rc i {
  color: #9b9b9b;
  font-size: 26px;
}

.duration {
  width: 16%;
}

.rightclick_popup {
  z-index: 3;
}

.block {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #202020;
  visibility: hidden;
  opacity: 0;
  transition-duration: .3s;
  top: 0;
  left: 0;
}

.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background: #111111;
}

.ps-container.ps-in-scrolling.ps-y:hover > .ps-scrollbar-y-rail {
  background: #111111;
}

#block_active {
  visibility: visible;
  opacity: 0.5;
}

#album_browser {
  position: fixed;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  background: #111111;
  width: 50%;
  height: 60%;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
}

#album_browser .coverview {
  width: 30%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
}

#album_browser .coverview:hover .rc {
  opacity: 1;
}

#album_browser .coverview .infos {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(17, 17, 17, 0.75);
  z-index: 1;
  line-height: 1.6;
  padding: 13% 10%;
  box-sizing: border-box;
  white-space: nowrap;
}

#album_browser .coverview .infos .field1, #album_browser .coverview .infos .field2 {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 85%;
  float: left;
}

#album_browser .coverview .infos .field1 {
  font-size: .8em;
}

#album_browser .coverview .infos .field2 {
  font-size: 1.1em;
}

#album_browser .coverview .infos .rc {
  width: 15%;
  float: left;
  overflow: visible;
}

#album_browser .coverview img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#album_browser .coverview .stretch {
  width: 100%;
  height: auto;
}

#album_browser .contentview {
  height: 100%;
  width: 70%;
  float: left;
  overflow: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  position: relative;
}

#album_browser .contentview li {
  overflow: hidden;
  width: 100%;
  height: 50px;
  font-size: .75em;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 1px solid #191919;
  transition-duration: .5s;
}

#album_browser .contentview li:hover {
  background: #191919;
  border-bottom: 1px solid #a81951;
}

header {
  width: 30%;
  height: 100%;
  position: fixed;
  background: #111111;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 3;
  transition-duration: 1s;
  transition-delay: .3s;
}

header .logo {
  height: 15%;
  width: 100%;
  position: relative;
  transition-duration: 1s;
  transition-delay: .3s;
  background: #111111;
}

header .logo svg {
  width: 25%;
  cursor: pointer;
  transition-duration: 1s;
}

header span.tooltip {
  position: absolute;
  top: -5vh;
  line-height: 5vh;
  height: 5vh;
  left: 0;
  width: 60%;
  margin: 0 0 0 20%;
  text-align: center;
  border-bottom: 1px solid #a81951;
  color: #515151;
  font-size: 1em;
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  transition-duration: .4s;
}

header span.tooltip:after, header span.tooltip:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  transform: translateY(-3px);
  transition-duration: .4s;
}

header span.tooltip:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #111111;
  border-width: 5px;
  margin-left: -5px;
}

header span.tooltip:before {
  border-color: transparent;
  border-top-color: #a81951;
  border-width: 6px;
  margin-left: -6px;
}

header span.tooltip.active:not(#play_forward_info) {
  opacity: 1;
  visibility: visible;
}

header span.tooltip.active:not(#play_forward_info):after, header span.tooltip.active:not(#play_forward_info):before {
  transform: translateY(0);
}

header .toolbar, header .extended_toolbar, header .playerbar {
  width: 100%;
  float: left;
}

header .toolbar, header .extended_toolbar {
  box-sizing: border-box;
  margin: 0;
  height: 35%;
}

header .toolbar #open_desk.active ~ .item_cloud, header .extended_toolbar #open_desk.active ~ .item_cloud {
  display: none;
}

header .toolbar #open_desk.active ~ .item_desk, header .extended_toolbar #open_desk.active ~ .item_desk {
  display: block;
}

header .toolbar #open_desk.active ~ .item_playlist, header .extended_toolbar #open_desk.active ~ .item_playlist {
  display: none;
}

header .toolbar #open_cloud.active ~ .item_desk, header .extended_toolbar #open_cloud.active ~ .item_desk {
  display: none;
}

header .toolbar #open_cloud.active ~ .item_cloud, header .extended_toolbar #open_cloud.active ~ .item_cloud {
  display: block;
}

header .toolbar #open_cloud.active ~ .item_playlist, header .extended_toolbar #open_cloud.active ~ .item_playlist {
  display: none;
}

header .toolbar #open_playlist.active ~ .item_desk, header .extended_toolbar #open_playlist.active ~ .item_desk {
  display: none;
}

header .toolbar #open_playlist.active ~ .item_playlist, header .extended_toolbar #open_playlist.active ~ .item_playlist {
  display: block;
}

header .toolbar #open_playlist.active ~ .item_cloud, header .extended_toolbar #open_playlist.active ~ .item_cloud {
  display: none;
}

header .toolbar li, header .extended_toolbar li {
  width: 90%;
  float: left;
  overflow: hidden;
  margin: 0 5%;
  line-height: 7vh;
  height: 7vh;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #202020;
  box-sizing: border-box;
  font-size: 0.9em;
  transition-duration: .5s;
}

header .toolbar li.main_toolbar, header .extended_toolbar li.main_toolbar {
  border-bottom: 1px solid #323232;
  width: 33.33%;
  margin: 0;
  position: relative;
  overflow: visible;
  background: #191919;
}

header .toolbar li.main_toolbar:hover, header .extended_toolbar li.main_toolbar:hover, header .toolbar li.main_toolbar:focus, header .extended_toolbar li.main_toolbar:focus {
  border-bottom: 1px solid #a81951;
}

header .toolbar li.main_toolbar .icon_container i, header .extended_toolbar li.main_toolbar .icon_container i, header .toolbar li.main_toolbar .rc i, header .extended_toolbar li.main_toolbar .rc i {
  top: 35%;
}

header .toolbar li.main_toolbar .icon_container span, header .extended_toolbar li.main_toolbar .icon_container span, header .toolbar li.main_toolbar .rc span, header .extended_toolbar li.main_toolbar .rc span {
  text-align: center;
  color: #515151;
  transition-duration: .4s;
  top: 65%;
}

header .toolbar li:hover, header .extended_toolbar li:hover, header .toolbar li:focus, header .extended_toolbar li:focus {
  border-bottom: 1px solid #323232;
}

header .toolbar li .icon_container, header .extended_toolbar li .icon_container, header .toolbar li .rc, header .extended_toolbar li .rc {
  height: 7vh;
}

header .toolbar li input, header .extended_toolbar li input {
  width: 70%;
  height: 100%;
  border: none;
  background: none;
  box-sizing: border-box;
}

header .toolbar li span, header .extended_toolbar li span {
  float: right;
  font-size: .9em;
  color: #515151;
}

header .toolbar li.active, header .extended_toolbar li.active {
  border-bottom: 1px solid #a81951;
}

header .toolbar li.active .icon_container span, header .extended_toolbar li.active .icon_container span, header .toolbar li.active .rc span, header .extended_toolbar li.active .rc span {
  color: #a81951;
}

header .toolbar li.active .material-icons, header .extended_toolbar li.active .material-icons {
  color: #a81951;
}

header .toolbar li ul, header .extended_toolbar li ul {
  display: none;
}

header .playerbar {
  height: 50%;
}

header .playerbar .cover {
  height: 60%;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

header .playerbar .cover:hover .rc {
  opacity: 1;
}

header .playerbar .cover .infos {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(17, 17, 17, 0.75);
  z-index: 1;
  padding: 7% 0;
  box-sizing: border-box;
  white-space: nowrap;
}

header .playerbar .cover .infos .field1, header .playerbar .cover .infos .field2, header .playerbar .cover .infos .field3 {
  padding: 0 0 0 7%;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 75%;
  float: left;
  line-height: 1.6;
}

header .playerbar .cover .infos .field1 {
  font-size: .7em;
}

header .playerbar .cover .infos .field2 {
  font-size: .8em;
}

header .playerbar .cover .infos .field3 {
  font-size: .9em;
}

header .playerbar .cover .infos .rc {
  width: 15%;
  float: left;
  overflow: visible;
}

header .playerbar .cover .loader {
  width: 100%;
  height: 100%;
  display: none;
}

header .playerbar .cover .loader svg {
  fill: none;
  z-index: 1;
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .playerbar .cover .loader svg .a, header .playerbar .cover .loader svg .b {
  stroke-linecap: round;
  stroke: #a81951;
  stroke-width: 1px;
  stroke-dasharray: 50;
  animation: dash 5s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 700;
  }
}

header .playerbar .cover img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .playerbar .controls {
  height: 40%;
  width: 100%;
  box-sizing: border-box;
}

header .playerbar .controls .bar_container {
  height: 15%;
  padding: 0 8%;
  padding-top: 3vh;
  width: 84%;
}

header .playerbar .controls .bar_container .bar {
  margin: 0 auto;
  height: 4px;
  border-radius: 2px;
  background: #202020;
  cursor: pointer;
}

header .playerbar .controls .bar_container .bar .slider {
  height: 100%;
  border-radius: 2px;
  background: #a81951;
}

header .playerbar .controls .bar_container .bar_info {
  padding-top: 3px;
  font-size: .6em;
  float: left;
}

header .playerbar .controls .bar_container .bar_info:last-of-type {
  float: right;
}

header .playerbar .controls .player_container {
  width: 100%;
  height: 25%;
  margin: 0;
  padding: 0;
  fill: #ffffff;
}

header .playerbar .controls .player_container #play_stop {
  display: none;
}

header .playerbar .controls .player_container #play_stop .material-icons, header .playerbar .controls .player_container #play_play .material-icons {
  font-size: 300%;
}

header .playerbar .controls .player_container li {
  cursor: pointer;
  height: 100%;
  float: left;
  width: 33%;
  position: relative;
}

header .playerbar .controls .player_container li .material-icons {
  font-size: 200%;
}

header .playerbar .controls .player_container li span.nextup {
  font-size: .7em;
  width: 100%;
  height: 40%;
  color: #a81951;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, 50%);
  transition-duration: .3s;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

header .playerbar .controls .player_container li:hover i {
  color: #a81951;
}

header .playerbar .controls .player_container li:hover span.nextup.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 90%);
}

header .playerbar .controls .commands {
  position: relative;
  width: 100%;
  height: 35%;
  margin-top: 2vh;
}

header .playerbar .controls .command_container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #191919;
  position: absolute;
}

header .playerbar .controls .command_container li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 25%;
  float: left;
  position: relative;
  cursor: pointer;
}

header .playerbar .controls .command_container li.active i {
  color: #a81951;
}

header .playerbar .controls .command_container li .icon_container, header .playerbar .controls .command_container li .rc {
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: .3s;
}

header .playerbar .controls .command_container li .icon_container i, header .playerbar .controls .command_container li .rc i {
  transition-duration: .2s;
}

header .playerbar .controls .command_container li span {
  top: 64%;
  text-align: center;
  font-size: .7em;
  color: #515151;
  opacity: 0;
  transition-duration: .2s;
  transition-delay: .1s;
}

header .playerbar .controls .command_container li:hover .icon_container, header .playerbar .controls .command_container li:hover .rc {
  top: 34%;
}

header .playerbar .controls .command_container li:hover span {
  opacity: 1;
}

header .playerbar .controls .command_container .bar_container {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 75%;
  opacity: 0;
  visibility: hidden;
  transition-duration: .4s;
  background: #191919;
}

header .playerbar .controls .command_container .bar_container .bar {
  width: 90%;
  margin: 0;
  margin-left: 10%;
  top: 50%;
  position: absolute;
}

header .playerbar .controls .command_container #settings_volume:hover ~ .bar_container {
  opacity: 1;
  visibility: visible;
}

header .playerbar .controls .command_container .bar_container:hover {
  opacity: 1;
  visibility: visible;
}

header .playerbar audio {
  display: none;
}

.extended_toolbar {
  width: 25vw;
  height: 100%;
  position: absolute;
  z-index: 2;
  background: #191919;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  transition-delay: 1s;
}

.extended_toolbar.opened {
  animation: extoolbar_slidein .5s 1 forwards;
}

.extended_toolbar.closed {
  animation: extoolbar_slideout .5s 1 forwards;
}

.extended_toolbar li {
  text-overflow: ellipsis;
  height: auto !important;
}

.extended_toolbar .content > ul {
  display: none;
}

.extended_toolbar .content > ul.active {
  display: block;
}

.extended_toolbar #select_genre {
  text-align: center;
}

.extended_toolbar #select_genre ul {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition-duration: .3s;
  text-align: center;
}

.extended_toolbar #select_genre ul li {
  font-size: .9em;
}

.extended_toolbar #select_genre ul li:hover {
  border-color: #a81951;
}

.extended_toolbar #select_genre ul li:first-child {
  border-top: 1px solid #a81951;
}

.extended_toolbar #select_genre ul.active {
  animation: item_slidein .5s 1 forwards;
  border-color: #a81951;
}

.extended_toolbar #search_zone > li {
  color: #727272;
}

.extended_toolbar #search_zone li.active + ul {
  animation: item_slidein .5s 1 forwards;
}

.extended_toolbar #search_zone ul {
  width: 100%;
  float: left;
  max-height: 0;
  overflow: hidden;
}

.extended_toolbar #search_zone ul li {
  width: 90%;
  margin: 0 5%;
  font-size: .8em;
  border-color: #252525;
}

.extended_toolbar #search_zone ul li:hover {
  border-color: #a81951;
}

.extended_toolbar #search_zone span {
  font-size: .7em;
}

.extended_toolbar #search_zone .imageview li {
  width: 100%;
  line-height: 7vh;
  position: relative;
  margin: 1vh 0 0 0;
  border: none;
}

.extended_toolbar #search_zone .imageview li img {
  width: 20%;
  float: left;
}

.extended_toolbar #search_zone .imageview li p {
  width: 67.5%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  margin: 0;
  line-height: 1.4;
  padding: 5% 0 5% 5%;
}

.extended_toolbar #search_zone .imageview li p span {
  text-align: left;
  width: 100%;
  float: left;
  font-size: .8em;
}

.extended_toolbar .top {
  height: 5%;
  width: 100%;
}

.extended_toolbar .top span {
  float: right;
}

.extended_toolbar .top span .icon_container, .extended_toolbar .top span .rc {
  cursor: pointer;
  height: 5vh;
  width: 4vh;
}

.extended_toolbar .top span .icon_container i, .extended_toolbar .top span .rc i {
  font-size: 24px;
}

.extended_toolbar .top span .icon_container:hover i, .extended_toolbar .top span .rc:hover i {
  color: #a81951;
}

.extended_toolbar .content {
  height: 95%;
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
  overflow-y: auto;
}

.extended_toolbar .content li {
  width: 100%;
  float: left;
  line-height: 6vh;
  height: 6vh;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #282828;
  box-sizing: border-box;
  font-size: 0.8em;
  transition-duration: .5s;
  position: relative;
  white-space: nowrap;
}

.extended_toolbar .content li:hover, .extended_toolbar .content li:focus {
  border-bottom: 1px solid #515151;
}

.extended_toolbar .content li p {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 75%;
  float: left;
}

.extended_toolbar .content li .icon_container, .extended_toolbar .content li .rc {
  height: 6vh;
}

.extended_toolbar .content li span {
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  width: 12.5%;
  float: left;
  font-size: .9em;
  color: #bfbfbf;
}

.extended_toolbar .content li#fullsearch_albums span, .extended_toolbar .content li#fullsearch_playlists span {
  float: right;
  width: 20%;
}

.extended_toolbar .content li input {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  box-sizing: border-box;
  padding: 0 10%;
}

.extended_toolbar .content li.active {
  border-bottom: 1px solid #a81951;
  color: #a81951 !important;
}

.extended_toolbar .content li.active i {
  color: #a81951;
}

main {
  height: 100%;
  width: 70%;
  float: right;
  position: relative;
  overflow: hidden;
}

main .view {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
}

main .view#cloud_view, main .view#playlist_view {
  visibility: hidden;
  opacity: 0;
}

main .view#playlist_view {
  background: #202020;
}

main .view#desk_view {
  opacity: 1;
  transition-duration: 1s;
  transition-delay: 1s;
}

main .view .albumview {
  margin: 0 1.4vw;
  padding: 0;
  overflow: auto;
  box-sizing: border-box;
  position: relative;
}

main .view .loadbuttoncontainer {
  width: 100%;
  height: 9vh;
  float: left;
  position: relative;
}

main .view .loadbuttoncontainer #load_button {
  position: absolute;
  padding: 10px;
  margin: 10px;
  background: #323232;
  border: 1px solid #515151;
  cursor: pointer;
  font-size: .8em;
  border-radius: 0px;
  left: 50%;
  transform: translateX(-50%);
  transition-duration: .5s;
}

main .view .loadbuttoncontainer #load_button:hover {
  border: 1px solid #a81951;
}

main .view #desk_placeholder {
  display: none;
}

main .view #playlist_content {
  width: 100%;
  height: 100%;
  overflow: auto;
}

main .view #playlist_content li {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #3f3f3f;
  display: flex;
}

main .view #playlist_content li .coverview {
  width: 30%;
  position: relative;
  overflow: hidden;
  float: left;
  cursor: pointer;
  background-position: center;
  background-size: cover;
}

main .view #playlist_content li .coverview:before {
  background: rgba(17, 17, 17, 0.75);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

main .view #playlist_content li .coverview .infos {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
  line-height: 1.6;
  padding: 0 10%;
  box-sizing: border-box;
  white-space: nowrap;
}

main .view #playlist_content li .coverview .infos .field1, main .view #playlist_content li .coverview .infos .field2 {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 85%;
  float: left;
}

main .view #playlist_content li .coverview .infos .field1 {
  font-size: .8em;
}

main .view #playlist_content li .coverview .infos .field2 {
  font-size: 1.1em;
}

main .view #playlist_content li .coverview .infos .rc {
  width: 15%;
  float: left;
  overflow: visible;
}

main .view #playlist_content li .coverview:hover .rc {
  opacity: 1;
}

main .view #playlist_content li .albumview {
  width: 70%;
  float: left;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  position: relative;
}

main .view #playlist_content li .albumview li {
  overflow: hidden;
  width: 100%;
  height: 50px;
  font-size: .8em;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 1px solid #282828;
  transition-duration: .5s;
}

main .view #playlist_content li .albumview li:hover {
  border-bottom: 1px solid #a81951;
}

main .view > .albumview > li {
  float: left;
  margin: 1vw;
  width: 11.4vw;
  height: 11.4vw;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  z-index: 1;
  border-radius: 0px;
  border: 1px solid transparent;
  transition-duration: .5s;
  background: #323232;
  box-sizing: border-box;
}

main .view > .albumview > li .infos {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(17, 17, 17, 0.75);
  z-index: 1;
  padding: 7% 0;
  box-sizing: border-box;
  white-space: nowrap;
}

main .view > .albumview > li .infos .field1, main .view > .albumview > li .infos .field2 {
  padding: 0 0 0 10%;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 65%;
  float: left;
}

main .view > .albumview > li .infos .field1 {
  font-size: .75em;
}

main .view > .albumview > li .infos .field2 {
  font-size: .85em;
}

main .view > .albumview > li .infos .rc {
  width: 15%;
  float: left;
  overflow: visible;
}

main .view > .albumview > li img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition-duration: .8s;
  border-radius: 0px;
}

main .view > .albumview > li:hover {
  border: 1px solid #a81951;
}

main .view > .albumview > li:hover .rc {
  opacity: 1;
}

main .view > .albumview > li .multicover {
  position: absolute;
  height: 100%;
  width: 100%;
}

main .view > .albumview > li .multicover .cover {
  width: 50%;
  height: 50%;
  float: left;
  position: relative;
  overflow: hidden;
}

main .view > .albumview > li .multicover .midcover {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
}

main .view > .albumview > li .multicover .fullcover {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
}

main .view .trackview {
  margin: 1vw;
  width: 30vw;
  height: 20vw;
}

main .view #cloud_view, main .view #playlist_view {
  visibility: hidden;
}

.popover {
  background: #a81951;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #323232;
  margin: 0;
  padding: 0;
  border-radius: 0px;
  font-family: Lato,sans-serif;
}

.popover .popover-title {
  background: #a81951;
  border-radius: 0px;
  border-bottom: none;
}

.popover .arrow {
  border-right-color: #323232 !important;
}

.popover .arrow::after {
  border-right-color: #a81951 !important;
}
